.todoItem {
  margin: 10px 10px;
  display: flex;
  gap: 6px;
}

input {
  display: none;
}

input+label {
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 4px;
  background-color: var(--background-color);
  cursor: pointer;
}

input:checked+label {
  background-color: black;
  cursor: pointer;
}

.content {
  font-size: 16px;
  flex-grow: 1;
  cursor: pointer;
  color: gray;
}

.todoItemButton {
  color: gray;
}