.todoItem {
  margin: 10px 10px;
  display: flex;
  gap: 6px;
}

.content {
  font-size: 16px;
  flex-grow: 1;
  cursor: pointer;
  color: gray;
}

.todoItemButton {
  color: gray;
  cursor: pointer;
}